{% extends "base.html" %}
{% load static %}
{% load sass_tags %}

{% block title %}Ranking - PG-CTF{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% sass_src 'sites/ranking.scss' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
<script src="https://unpkg.com/chartjs-plugin-colorschemes"></script>
{% endblock %}

{% block content %}

{% include "components/ranking_status.html" with ongoing=ongoing paused=paused %}

<main>
    <div class="page-title">
        <h1>Ranking</h1>
    </div>
    <canvas id="chart"></canvas>
    <div>
        <table>
            <tr>
                <th>Rank</th>
                <th>Username</th>
                <th>Score</th>
                <th>Last Solve</th>
            </tr>
            {% for rank in ranking %}
            {% if user.username == rank.username %}
            <tr class="is_user">
            {% else %}
            <tr>
            {% endif %}
                <td>{{ rank.rank }}</td>
                <td><a href="{% url 'users:profile' rank.username %}">{{ rank.username }}</a></td>
                <td>{{ rank.points | default:0 }}</td>
                <td>{{ rank.last_solve | date:"Y-m-d H:i:s"}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</main>
<script src="{% static 'js/ranking_chart.js' %}"></script>
{% endblock %}
