main {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2rem;

    .lp {
        background-color: #f4f5f6;
        border-radius: .5rem;
        padding: .1em 2rem;
        margin: 1rem 0;

        span {
            color: mediumvioletred;
        }
    }

    .content {
        p {
            font-size: 1.5rem;
            font-weight: bolder;
            margin: 1rem 0;
            padding: .5em 0;
            border-bottom: 1px solid #fff;
        }

        .problems {
            border-collapse: collapse;
            border-radius: .3rem;
            color: #333;
            overflow: hidden;
            width: 100%;
            background: linear-gradient(90deg, #fd96f9, #96c6fd);

            a, a:visited {
                color: #333;
                font-weight: bolder;
                display: block;
                padding: .5rem;
                text-decoration: none;
            }

            tr:first-child {
                background-color: rgba(0, 0, 0, .5);
                color: #fff;
                th {
                    padding: .5rem;
                }
            }

            tr {
                border-bottom: 1px solid #fff;
                background-color: hsla(0, 0%, 100%, .5);
            }

            tr:nth-child(n+2):hover {
                background-color: transparent;
                transition: .1s;
                color: #fff;
                a {
                    color: inherit;
                }
            }

            th, td{
                text-align: left;
                width: 5%;
                cursor: default;
            }

            td:last-child {
                color: #fff;
                position: relative;

                div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                div::before {
                    content: "";
                    position: absolute;
                    right: 90%;
                    border: 15px solid transparent;
                    border-right-color: inherit;
                }
            }

            .solved-td {
                background-color: #ff7675;
                div {
                    border-right-color: #ff7675;
                }
            }

            .not-solved-td {
                background-color: #2d2f37;
                div {
                    border-right-color: #2d2f37;
                }
            }

            td:first-child,
            td:nth-child(3),
            td:nth-child(4),
            td:nth-child(5) {
                padding-left: .5rem;
            }

            th:nth-child(2) {
                width: 50%;
            }
        }
    }
}
