main {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2rem;

  .lp {
      background-color: #eee;
      border-radius: .5rem;
      padding: .1em 2rem;
      margin: 1rem 0;

      span {
          color: mediumvioletred;
      }
  }

  .nav {
    font-size: 1.5rem;
    font-weight: bolder;
    margin: 1rem 0;
    padding: .5em 0;
    border-bottom: 1px solid #eee;
  }

  .content {
    margin: 1rem 0;
    background-color: #eee;
    border-radius: .5rem;
    padding: .1em 2rem;

    .title {
      font-size: 1.2rem;
      font-weight: bolder;
      margin: .5rem 0;
      border-bottom: 1px solid #bbb;
    }

    .datetime {
      margin: .5rem 0;
    }
  }
}
