{% extends "base.html" %}
{% load sass_tags %}

{% block title %}PG-CTF Main page{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% sass_src 'quizzes/quiz.scss' %}">

<main>
    <div class="quiz-title">
        <h1>{{quiz.quiz_number}} [{{ quiz.category }}] {{ quiz.title }}</h1>
        <p>Level: {{ quiz.difficulty }}, Point: {{ quiz.point }}</p>
    </div>
    <div class="statement">
        <p>{{ quiz.statement }}</p>
        {% if quiz_files %}
        <p>
            {% for quiz_file in quiz_files %}
            <a class="quiz_files" href="{{ quiz_file.file.url }}" download="{{ quiz_file.filename }}">{{ quiz_file.filename }}</a><br>
            {% endfor %}
        </p>
        {% endif %}
    </div>
    {% if quiz.status == 1 %}
    <div class="status solved">
        <p>Congrats! You solved!</p>
    </div>
    {% elif quiz.status == 2 %}
    <div class="status invalid">
        <p>Invalid Flag...</p>
    </div>
    {% endif %}
    <div class="flag-form">
        <form method="POST" action="{% url 'quizzes:quiz' quiz.quiz_number %}">
            {% csrf_token %}
            {{ form.flag }}
            <button>Submit</button>
        </form>
    </div>
</main>
{% endblock %}
