{% extends "base.html" %}
{% load sass_tags %}

{% block title %}{{ quiz.number}} [{{quiz.category}}] - PG-CTF{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% sass_src 'quizzes/quiz.scss' %}">

{% include "components/status.html" with ongoing=ongoing paused=paused %}

<main>
    <div class="quiz-title">
        <h1>{{quiz.number}} [{{ quiz.category }}] {{ quiz.title }} {% if quiz.published == False %}--Draft--{% endif %}</h1>
        <p>Level: {{ quiz.difficulty }}, Point: {{ quiz.point }}{% if quiz.author %}, Author: {{ quiz.author }}{% endif %}</p>
    </div>
    <div class="statement">
        <p>{{ quiz.statement | safe}}</p>

        {% if appended_url %}
        <p>
            {% for url in appended_url %}
            <a class="quiz_files" href="{{ url.url }}" target="_blank" rel="nofollow noopener">{{ url }}</a><br>
            {% endfor %}
        </p>
        {% endif %}

        {% if quiz_files %}
        <p>
            {% for quiz_file in quiz_files %}
            <a class="quiz_files" href="{{ quiz_file.file.url }}" download="{{ quiz_file.filename }}">{{ quiz_file.filename }}</a><br>
            {% endfor %}
        </p>
        {% endif %}
    </div>
    {% if quiz.status == 1 %}
    <div class="status solved">
        <p>Congrats! You solved!</p>
    </div>
    {% elif not ongoing or paused%}
    <div class="status invalid">
        <p>{{ ongoing|yesno:'メンテナンス中は,CTF開催期間外のため' }}Flagを送信できません</p>
    </div>
    {% elif quiz.status == 2 %}
    <div class="status invalid">
        <p>Invalid Flag...</p>
    </div>
    {% endif %}
    {% if quiz.status != 1 and not paused and ongoing %}
    <div class="flag-form">
        <form method="POST" action="{% url 'quizzes:quiz' quiz.number %}">
            {% csrf_token %}
            {{ form.flag }}
            <button>Submit</button>
        </form>
    </div>
    {% endif %}

    <p class="winners-nav">Winners</p>
    <table>
        <tr>
            <th>Rank</th>
            <th>Username</th>
            <th>Solved at</th>
        </tr>
        {% for rank in solved_users %}
        {% if user.username == rank.user.username %}
        <tr class="is_user">
        {% else %}
        <tr>
        {% endif %}
            <td>{{ rank.rank }}</td>
            <td><a href="{% url 'users:profile' rank.username %}">{{ rank.username }}</a></td>
            <td>{{ rank.solved_at | date:"Y-m-d H:i:s"}}</td>
        </tr>
        {% endfor %}
    </table>

</main>
{% endblock %}
