$header_back_color: black;
$header_text_color: white;
$header_menu_color: #bbb;

body {
    font-family: -apple-system, "Helvetica Neue", Arial, BlinkMacSystemFont, "Hiragino Kaku Gothic ProN", 'Segoe UI', sans-serif;
}

.navbar {
    background-color: $header_back_color;
}

.container {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;

    .home-button,
    .home-button:visited {
        color: $header_text_color;
        margin-right: 1rem;
        white-space: nowrap;
        font-weight: bold;
        text-decoration: none;
    }

    .navbar-content {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .navbar-menu {
            margin-right: 0;
            display: flex;
            list-style: none;
            padding-left: 0;
            margin: 1em;

            li {
                display: list-item;
                color: $header_menu_color;
                margin: 0 .5rem;

                a, a:visited {
                    color: inherit;
                    text-decoration: none;
                }
                a:hover {
                    color: $header_text_color;
                    text-decoration: underline;
                }
            }

            .user-info {
                color: $header_text_color;
            }
        }
    }
}
