main {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2rem;

  .problems {
    border-collapse: collapse;
    width: 100%;

    a,
    a:visited {
      color: #0000cc;
    }

    tr:first-child {
      border-bottom: 1px solid black;
    }
    tr {
      border-bottom: 1px solid #ddd;
    }
    tr:nth-child(n + 2):hover {
      background-color: #eee;
    }

    th,
    td {
      text-align: left;
      padding: 0.5rem;
      width: 5%;
    }

    th:nth-child(2) {
      width: 50%;
    }
  }
}
