{% extends 'base.html' %}
{% load sass_tags %}

{% block title %}Staff sign in - PG-CTF{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% sass_src 'users/admin_signin.scss' %}">

<main>
    <h2>PG-CTF 管理サイト</h2>

    {% if user.is_authenticated %}
    <div class="errornote">
        <div>
            You are authenticated as {{ username }}, but are not authorized to
            access this page. Would you like to login to a different account?
        </div>
    </div>
    {% endif %}

    <form action="{{ app_path }}" method="post" id="login-form">
        {% csrf_token %}
        <ul>
            <li>
                {% if form.errors %}
                <div class="signin-error">Usernameまたはパスワードが無効です</div>
                {% endif %}
            </li>
            <li>
                <div>
                    <label>Staff ID</label><br>
                    {{ form.username }}<br>
                    {% for error in form.username.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                </div>
            </li>
            <li>
                <div>
                    <label>Password</label><br>
                    {{ form.password }}<br>
                    {% for error in form.password.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                </div>
            </li>
            <li class="submit-button">
                <button>Sign in</button>
            </li>
        </ul>
    </form>
</main>
{% endblock %}