<!DOCTYPE html>
{% load static %}
{% load sass_tags %}

<html lang="{{ LANGUAGE_CODE|default:'ja' }}">
    <head>
        <title>{% block title %}PG CTF{% endblock %}</title>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta name="description" content="PG CTF">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static 'css/normalize.css' %}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% sass_src 'css/header.scss' %}" type="text/css">
    </head>
    <body>
        {% include "header.html" %}
        {% block content %}
        {% endblock %}
    </body>
</html>
