<nav class="navbar">
    <div class="container">
        <div>
            <a class="home-button" href="{% url 'sites:home' %}">PG-CTF</a>
        </div>
        <div class="navbar-content">
            <ul class="navbar-menu">
                <li><a href="{% url 'sites:home' %}">Problems</a></li>
                <li><a href="{% url 'announcements:announcements' %}">Announces</a></li>
                <li><a href="{% url 'sites:ranking' %}">Ranking</a></li>
            </ul>
            <ul class="navbar-menu">
            {% if user.is_authenticated %}
                <li><a href="{% url 'users:signout' %}">Sign out</a></li>
                <li class="user-info">{{ user.points | default:"0" }} pts <a href="{% url 'users:profile' user.username %}">@{{ user }}</a></li>
            {% else %}
                <li><a href="{% url 'users:signin' %}">Sign in</a></li>
            {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% if not ongoing or paused %}
<nav class="game-status">
    <div class="container">
        Game is {% if not ongoing %}stopping{% else %}paused{% endif %}
    </div>
</nav>
{% endif %}
