<nav class="navbar">
    <div class="container">
        <div>
            <a class="home-button" href="{% url 'sites:home' %}">PG-CTF</a>
        </div>
        <div class="navbar-content">
            <ul class="navbar-menu">
                <li><a href="{% url 'sites:home' %}">Home</a></li>
                <li><a href="{% url 'sites:home' %}">Problems</a></li>
                <li><a href="{% url 'sites:ranking' %}">Ranking</a></li>
            </ul>
            <ul class="navbar-menu">
            {% if user.is_authenticated %}
                <li><a href="{% url 'users:signout' %}">Sign out</a></li>
                <li class="user-info">{{ user.points | default:"0" }} pts @{{ user }}</li>
            {% else %}
                <li><a href="{% url 'users:signup' %}">Sign up</a></li>
                <li><a href="{% url 'users:signin' %}">Sign in</a></li>
            {% endif %}
            </ul>
        </div>
    </div>
</nav>
